<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <variable name="log.level" value="${log.level:-INFO}"/>
    <root level="${log.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        &lt;!&ndash; encoders are assigned the type-->
<!--             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="debug">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
<!--</configuration>-->