<?xml version = "1.0" encoding = "UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--<suite name="SimpleTest suite name" verbose="0" thread-count="3" parallel="methods">-->
<suite name="SimpleTest suite name">
    <test name="SimpleTest test name">

        <classes>
            <class name="org.example.uitests.LoginTests"/>
            <class name="org.example.uitests.FramesTests"/>
        </classes>
    </test>
</suite>